{
  email {$ACME_EMAIL}
}

ridenrest.app {
  reverse_proxy host.docker.internal:3011
  header {
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
  }
}

api.ridenrest.app {
  reverse_proxy host.docker.internal:3010
  header {
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
  }
}

stats.ridenrest.app {
  reverse_proxy plausible:8000
  header {
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
  }
}

status.ridenrest.app {
  basic_auth {
    {$STATUS_USER} {$STATUS_HASHED_PASSWORD}
  }
  reverse_proxy uptime-kuma:3001
  header {
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
  }
}
